# Ignore git hidden files:
**/.git
**/.svn
**/.hg

# Ignore dependencies
**/node_modules

# Ignore build dirs
dist

# Ignore static data
public/d2/
lib
examples/**/*.d2s
examples/**/*.d2i
examples/**/*.d2x
examples/**/*.sss

# Ignore test output
coverage
.husky
.nyc_output
